aiohappyeyeballs
aiohttp
aiosignal
alembic
altair
annotated-types
anyio
appdirs
asgiref
asttokens
attrs
auth0-python
backoff
bcrypt
beautifulsoup4
blinker
build
cachetools
certifi
cffi
chardet
charset-normalizer
Chroma
chroma-hnswlib
chromadb
click
cohere
colorama
coloredlogs
comm
crewai
crewai-tools
cryptography
dataclasses-json
datasets
debugpy
decorator
Deprecated
deprecation
dill
distro
docker
docstring_parser
docx2txt
durationpy
embedchain
emoji
eval_type_backport
executing
fastapi
fastavro
filelock
filetype
flatbuffers
frozenlist
fsspec
gitdb
GitPython
google-api-core
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
gptcache
graphviz
greenlet
grpc-google-iam-v1
grpcio
grpcio-status
grpcio-tools
h11
h2
hpack
html5lib
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
hyperframe
idna
importlib_metadata
importlib_resources
iniconfig
instructor
ipykernel
ipython
jedi
Jinja2
jiter
joblib
json_repair
jsonpatch
jsonpath-python
jsonpickle
jsonpointer
jsonref
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kubernetes
lancedb
langchain
langchain-chroma
langchain-cohere
langchain-community
langchain-core
langchain-experimental
langchain-openai
langchain-text-splitters
langdetect
langsmith
litellm
lolviz
lxml
Mako
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
mem0ai
mmh3
monotonic
mpmath
multidict
multiprocess
mypy-extensions
narwhals
nest-asyncio
networkx
nltk
nodeenv
numpy
oauthlib
olefile
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
outcome
overrides
packaging
pandas
parameterized
parso
pdfminer
pillow
platformdirs
pluggy
portalocker
posthog
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pulsar-client
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pycryptodome
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
PyJWT
pylance
pypdf
PyPDF2
PyPika
pyproject_hooks
pyreadline3
pyright
pysbd
PySocks
pytest
python-dateutil
python-dotenv
python-iso639
python-magic
python-oxmsg
pytils
pytube
pytz
pyvis

PyYAML
pyzmq
qdrant-client
ragas
RapidFuzz
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
schema
selenium
shapely
shellingham
six
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
stack-data
starlette
streamlit
sympy
tabulate
tenacity
tiktoken
tokenizers
toml
tomli
tomli_w
tools
tornado
tqdm
traitlets
trio
trio-websocket
typer
types-requests
typing
typing-inspect
typing_extensions
tzdata
unstructured
unstructured-client
urllib3
uv
uvicorn
watchdog
watchfiles
wcwidth
webencodings
websocket-client
websockets
wrapt
wsproto
xxhash
yarl
zipp
